$header_height: 45px;
$content_width: 820px;

header {
  height: $header_height;
  background-color: #93adc6;

  > div {
    width: $content_width;
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    line-height: $header_height;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 400;

    > a {
      color: #f5f5f5;
    }
  }
}

body {
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}

:global .container {
  width: $content_width;
  min-height: 650px;
  margin: 20px auto 70px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(100, 100, 100, .3);
}

:global .fa {
  color: #999;
  margin-right: 5px;
}
